* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.fill{
    justify-self: center;
    margin: 5px;
    width: 200px;
    height: 23px;
    border-radius: 8px;
}

.identity{
    display: flex;
    justify-self: center;
    width: 95%;
    max-width: 205px; 
    padding: 20px;  

}

.container{
    background-color: white;
    width: 250px;
    border-radius: 10px;
    padding: 30px 30px;
    text-align: center;

}

form{
    column-gap: 10px;
}
.signup-form input{
    font-weight: bold;
    border-bottom: 1px solid white;
    margin: 20px;
    justify-self: center;

}
.error{
    color: rgb(99, 41, 41);
}

h1{
    justify-self: center;
    margin-bottom: 20px;
    color: blue;
    padding: 5%s;

}
.button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    margin-left: 12px;
    width: 200px;
    color: white;
    margin-right: 10px;
    background-color: blue;
    cursor: pointer;
    
}

button.hover{
    background-color: black;
}
