 *{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    text-align: center;
}

.fill{
    justify-self: center;
    width: 200px;
    margin: 10px;
    width: 80%;
    height: 23px;
    border-radius: 8px;
    display: block;
}

.identity{
    display: flex;
    justify-self: center;
    padding: 0px;  
    width: 260px; 
   
}

#firstName,#lastName{
    margin-top: 0px;
    margin-bottom: 0px;

     
}


form{
    column-gap: 10px;
    box-shadow: 0 10px 10px;
    width: 300px;
    height: 300px;
    padding-top: 20px;
}
.signup-form input{
    font-weight: bold;
    border-bottom: 1px solid white;
    margin: 20px;
    justify-self: center;

    border: 2px solid black;
    width: 300px;
    margin-top: 20%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 10px;
}

.error{
    color: red;
}

h2{
    justify-self: center;
    margin-bottom: 20px;
    color: blue;
    padding: 5%s;
    color: black;

}
.button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    margin-left: 12px;
    width: 200px;
    color: white;
    margin-right: 10px;
    background-color: blue;
    cursor: pointer;

}
#submit{
    background-color: blue;
    color: white;
    width: 82%;
    height: 23px;
    border-radius: 10px;
}


submit.hover{
    background-color: black;
}